extends layout

block content
    h3.
      Users
    ul
      each user, i in users
        li#user_list_item
          a(href="/edit:#{user._id}") #{user.user}, email #{user.email}
          div.imagetable
            img(src=user.avatar)